﻿@using MyWebApp2.Models
@{
    ViewBag.Title = "AddFC";
    List<MyWebApp2.Models.GroupTraining> groupTrainings = (List<MyWebApp2.Models.GroupTraining>)Session["groupTrainings"];

}

<script>
    function validacija() {
        var name = document.getElementById["name"].value;
        var address = document.getElementById["address"].value;
        //var number = document.getElementById["number"].value;
        //var city = document.getElementById["city"].value;
        //var postalCode = document.getElementById["postalCode"].value;
        var yearOfOpening = document.getElementById["yearOfOpening"].value;
        var ownerUserID = document.getElementById["ownerUserID"].value;
        var monthlyPrice = document.getElementById["monthlyPrice"].value;
        var yearlyPrice = document.getElementById["yearlyPrice"].value;
        var trainingPrice = document.getElementById["trainingPrice"].value;
        var groupPrice = document.getElementById["groupPrice"].value;
        var personalTrainingPrice = document.getElementById["personalTrainingPrice"].value;


        if(name == null || name == "" || address == null || address == ""  || yearOfOpening == null || yearOfOpening == "" || ownerUserID == null || ownerUserID == "" || monthlyPrice == null || monthlyPrice == "" || yearlyPrice == null || yearlyPrice == "" || trainingPrice == null || trainingPrice == "" || groupPrice == null || groupPrice == "" || personalTrainingPrice == null || personalTrainingPrice == "") {
            alert("Popuni sva polja.");
            return false;
        }
    }
</script>

<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>Detalji</title>

    <style>
        body {
            align-items: center;
            display: flex;
            justify-content: center;
            background-color: #b3b3b3;
        }

        p {
            color: #660000;
            margin-bottom: 5px;
        }

        table, th, td {
            border: 2px solid black;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th {
            height: 20px;
            text-align: left;
            background-color: #660000;
            color: #ffb58f;
        }

        th, td {
            padding: 15px;
            text-align: left;
        }

        tr:hover {
            background-color: #660000;
        }


        a, input[type=text], .search-container button {
            display: block;
            text-align: left;
            float: none;
            padding: 14px;
            margin: 0;
            margin-top: 8px;
        }

        form {
            margin-top: 60px;
        }

        table.sortable th::after, th.sorttable_sorted::after, th.sorttable_sorted_reverse::after {
            content: " ";
            display: inline-block;
            width: 24px;
            height: 24px;
        }

        th.sorttable_sorted::after {
            background: url("https://cdn1.iconfinder.com/data/icons/modifiers-add-on-2-glyph/48/Sed-02-512.png");
            background-size: contain;
        }

        th.sorttable_sorted_reverse::after {
            background: url(https://cdn1.iconfinder.com/data/icons/modifiers-add-on-2-glyph/48/Sed-02-512.png);
            background-size: cover;
        }

        #sorttable_sortfwdind, #sorttable_sortrevind {
            display: none;
        }
    </style>

</head>

<body>
    <h2>Kreiranje fitnes centra</h2>
    <div>
        <form action="/FitnessCenter/AddFC">

            <table  class="sortable" id="myTable">
               
                @{
                <tr>
                    <div align="center">
                        <br>
                        <label>Naziv</label>
                        <div>
                            <input type="text" name="name">
                        </div>
                    </div>

                    <div align="center">
                        <br>
                        <label>Adresa</label>
                        <div>
                            <input type="text" name="address">
                        </div>
                    </div>

                    <div align="center">
                        <br>
                        <label>Godina otvaranja</label>
                        <div>
                            <input type="number" name="yearOfOpening">
                        </div>
                    </div>

                    <div align="center">
                        <br>
                        <label>Cena mesecno</label>
                        <div>
                            <input type="number" name="monthlyPrice">
                        </div>
                    </div>
                    <div align="center">
                        <br>
                        <label>Cena godisnje</label>
                        <div>
                            <input type="number" name="yearlyPrice">
                        </div>
                    </div>
                    <div align="center">
                        <br>
                        <label>Cena treninga</label>
                        <div>
                            <input type="number" name="trainingPrice">
                        </div>
                    </div>
                    <div align="center">
                        <br>
                        <label>Cena grupnog</label>
                        <div>
                            <input type="number" name="groupPrice">
                        </div>
                    </div>

                    <div align="center">
                        <br>
                        <label>Cena personalnog</label>
                        <div>
                            <input type="number" name="personalTrainingPrice">
                        </div>
                    </div>

                 
                    
                    <br>
                    <div align="center">
                        <div>
                            <button onclick="return validacija()">Dodaj</button>
                        </div>
                    </div>
                </tr>
                }
            </table>   </form>


    </div>
</body>
</html>
