﻿@using MyWebApp2.Models
@{
    ViewBag.Title = "AllDetails";
    MyWebApp2.Models.FitnessCenter fitnessCenter = (MyWebApp2.Models.FitnessCenter)Session["fitnessCenters"];
    MyWebApp2.Models.User user = (MyWebApp2.Models.User)Session["user"];

    MyWebApp2.Models.FitnessCenter fc = ViewBag.fitness;
    MyWebApp2.Models.FitnessCenter fc2 = ViewBag.fitness;
    MyWebApp2.Models.User ownerUser = ViewBag.OwnerUserID;

    List<GroupTraining> gtList = ViewBag.gtList;

    Dictionary<string, Comment> comm = Build.LoadComm();
    Dictionary<string, GroupTraining> g = Build.LoadGT();


}

<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>Detalji</title>

    <style>
        body {
            align-items: center;
            display: flex;
            justify-content: center;
            background-color: #b3b3b3;
        }

        p {
            color: #660000;
            margin-bottom: 5px;
        }

        table, th, td {
            border: 2px solid black;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th {
            height: 20px;
            text-align: left;
            background-color: #660000;
            color: #ffb58f;
        }

        th, td {
            padding: 15px;
            text-align: left;
        }

        tr:hover {
            background-color: #660000;
        }


        a, input[type=text], .search-container button {
            display: block;
            text-align: left;
            float: none;
            padding: 14px;
            margin: 0;
            margin-top: 8px;
        }

        form {
            margin-top: 60px;
        }

        table.sortable th::after, th.sorttable_sorted::after, th.sorttable_sorted_reverse::after {
            content: " ";
            display: inline-block;
            width: 24px;
            height: 24px;
        }

        th.sorttable_sorted::after {
            background: url("https://cdn1.iconfinder.com/data/icons/modifiers-add-on-2-glyph/48/Sed-02-512.png");
            background-size: contain;
        }

        th.sorttable_sorted_reverse::after {
            background: url(https://cdn1.iconfinder.com/data/icons/modifiers-add-on-2-glyph/48/Sed-02-512.png);
            background-size: cover;
        }

        #sorttable_sortfwdind, #sorttable_sortrevind {
            display: none;
        }
    </style>

</head>

<body>

    @{



        <br><br><p>Detalji</p>

        <div>
            <table class="sortable" id="myTable">
                <tbody>
                    <tr>
                        <th>Naziv</th>
                        <th>Adresa</th>
                        <th>Godina otvaranja</th>
                        <th>Vlasnik</th>
                        <th>Cena mesecno</th>
                        <th>Cena godisnje</th>
                        <th>Cena jednog treninga </th>
                        <th>Cena grupnog </th>
                        <th>Cena personalnog </th>
                        @*<th></th>*@

                    </tr>
                    <tr>
                        <td> @fc.Name</td>
                        <td> @fc.Address</td>
                        <td> @fc.YearOfOpening</td>
                        <td> @ownerUser.Username </td>
                        <td>@fc.MonthlyPrice</td>
                        <td>@fc.YearlyPrice</td>
                        <td> @fc.PersonalTrainingPrice</td>
                        <td>@fc.GroupPrice</td>
                        <td> @fc.PersonalTrainingPrice</td>

                    </tr>

                </tbody>
            </table>
        </div>

        <br><br><p>Predstojeći grupni treninzi</p>

       

        <div>
               


            @if(gtList.Count<=0 && gtList.Any(x=>DateTime.Compare(x.TrainingDateTime,DateTime.Now)<=0)){
                    
                <div>< table class="sortable" id="myTable">
                    <tr><td>Trenutno nema predstojecih grupnih treninga</td></tr>
                    <table></div>
            }
            
            @if (gtList.Count >= 1 && gtList.Any(x => DateTime.Compare(x.TrainingDateTime, DateTime.Now) > 0)) {

                <table class="sortable" id="myTable">
                  
                    <tbody>

                        <tr>
                            <th>Naziv</th>
                            <th>Tip</th>
                            <th>Trajanje</th>
                            <th>Datum</th>
                            <th>Prijavljeni</th>
                            <th>Maksimalno posetilaca </th>
                            <th></th>
                        </tr>

                        @foreach (GroupTraining gt in gtList)
                        {
                            if (DateTime.Compare(DateTime.Now, gt.TrainingDateTime) > 0 && gt.IsDeleted == false)
                            {


                                <tr>
                                    <td> @gt.Name</td>
                                    <td>@gt.TrainingType.ToString()</td>
                                    <td> @gt.TrainingDuration</td>
                                    <td>@gt.TrainingDateTime.ToString()</td>
                                    <td> @gt.VisitorsID.Count</td>
                                    <td> @gt.MaxNumberOfVisitors </td>
                                    <td>

                                        @{

                                            if (user != null && user.Role == MyWebApp2.Models.Enums.Role.Posetilac)
                                            {
                                                <div>
                                                    <form action="/FitnessCenter/CheckIn">

                                                        <input type="hidden" name="fcId" value="@fc.ID">

                                                        <input type="hidden" name="fcName" value="@fc.Name">

                                                        <input type="hidden" name="gtId" value="@gt.ID">

                                                        <input type="submit" value="Registracija">

                                                    </form>
                                                </div>
                                            }

                                            if (user != null && user.Role == MyWebApp2.Models.Enums.Role.Trener && user.ID == gt.TrainerID)
                                            {

                                                <div>
                                                    <form action="/GroupTraining/GetAllGTs">

                                                        <input type="hidden" name="gtId" value="@gt.ID">

                                                        <input type="submit" value="Modifikacija">
                                                    </form>
                                                </div>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody> </table>

            } 
                                            @*else {
                <div><table class="sortable" id="myTable">
                    <tr><td>Trenutno nema predstojecih grupnih treninga</td></tr>
                    <table></div>
            }*@

        @if( user != null && user.Role == MyWebApp2.Models.Enums.Role.Trener )
               {
                    <div><form action="/GroupTraining/GoToAddGT">  
                        
                        <input type="submit" value="Kreiraj ">  </form></div>
                }

        </div>


    }



    @{

        <br><br><p>Komentari</p>

      
    <div>
                    @if(comm.Values.Any(x => x.IsCommentApproved && comm.Values.Count>=1)) {
                        <table class="sortable" id="myTable">
                            <tr><th>Posetilac</th>
                                <th>Tekst</th>
                                <th>Ocena</th>@*<th></th>*@
                            </tr>

                                @foreach(var c in comm.Values) {
                                    if( c.FitnessCenterID == fc2.ID  && c.IsCommentApproved==true) {

                                        <tr> <td>@c.User.Username</td>
                                            <td>@c.TextOfComment </td>
                                            <td>@c.Grade </td> </tr>
                                    }

                                }
                        </table> }


                    else{ 
                        <table>
                            <tr><td>/</td>@*<th></th>*@
                            </tr></table>
                    }

                         @{
                             if(user != null && user.Role == MyWebApp2.Models.Enums.Role.Posetilac) {
                                 foreach (var group in g.Values) {

                                     if(group.FitnessCenterID == fc2.ID) {
                                         foreach(string UserListId in group.VisitorsID){
                                             if( user.ID == UserListId  && DateTime.Compare(group.TrainingDateTime, DateTime.Now)<0){
                                                    <form action="/Comment/GoToAddComm">
                                                        
                                                            <input type="hidden" name="fcId" value="@fc2.ID">

                                                            <input type="submit" value="Komentarisi">
                                                       
                                                    </form>
                                                }
                                            } } } }
                            }
    </div>
}
</body>
</html>
