﻿@using MyWebApp2.Models
@{
    ViewBag.Title = "FCSearch";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>Pretraga</title>
    <style>

        body {
            align-items: center;
            display: flex;
            justify-content: center;
            background-color: #b3b3b3;
        }

        p {
            color: #660000;
            margin-bottom: 5px;
        }

        .content {
            background-color: paleturquoise;
            border-radius: 20px;
            padding: 25px;
            margin-top: 25px;
        }


        input {
            width: 100%;
            padding: 4px 10px;
            border: 1px solid darkgray;
            border-radius: 10px;
        }

            input:focus {
                outline: none;
                border: 1px solid #002364;
            }

            input[type="submit"] {
                width: 100%;
                padding: 16px;
                border-radius: 20px;
                margin-top: 25px;
                color: lightcyan;
                background-color: #660000;
            }

            input[type="text"] {
                border: 1px solid #ffb58f;
            }

            input[type="date"] {
                border: 1px solid #ffb58f;
            }

            input[type="number"] {
                border: 1px solid #ffb58f;
            }

            input[type="email"] {
                border: 1px solid #ffb58f;
            }

            input[type="password"] {
                border: 1px solid #ffb58f;
            }
    </style>

</head>

<body>
    <form action="/FitnessCenter/FCSearch">
        <div>
            <div><label>Naziv</label></div>
            <div> <input name="name" type="text"> </div>
        </div>

        <div>
            <div><label>Adresa</label></div>
            <div> <input name="address" type="text"> </div>
        </div>

        <div>
            <div><label>Godina otvaranja</label></div>
            <div>
                <input name="yearOfOpening" type="number" min="0" placeholder="Minimalna granica(0)">
                <input type="number" max="2022" name="yearOfOpening" placeholder="Maximalna granica(2022)">

            </div>
        </div>
        <br>
        <div> <button>Pretraga</button> </div>

    </form>
</body>
</html>


