﻿@using MyWebApp2.Models
@{
    ViewBag.Title = "FCsList";
    MyWebApp2.Models.User user = (MyWebApp2.Models.User)Session["user"];
    MyWebApp2.Models.User user2 = (MyWebApp2.Models.User)Session["user"];

}


<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>Fitnes centri</title>

    <style>
        body {
            align-items: center;
            display: flex;
            justify-content: center;
            background-color: #b3b3b3;
            background-image: url("https://i.etsystatic.com/11226668/r/il/a0131c/3679028715/il_794xN.3679028715_ogml.jpg");
            color: #ffb58f;
        }

        p {
            color: #660000;
            margin-bottom: 5px;
        }

        table, th, td {
            border: 2px solid black;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th {
            height: 20px;
            text-align: left;
            background-color: #660000;
            color: #ffb58f;
        }

        th, td {
            padding: 15px;
            text-align: left;
        }

        tr:hover {
            background-color: #660000;
        }


        a, input[type=text], .search-container button {
            display: block;
            text-align: left;
            float: none;
            padding: 14px;
            margin: 0;
            margin-top: 8px;
        }
            a:link {
                color: #ffb58f;
            }
        form {
            margin-top: 60px;
        }

        table.sortable th::after, th.sorttable_sorted::after, th.sorttable_sorted_reverse::after {
            content: " ";
            display: inline-block;
            width: 24px;
            height: 24px;
        }

        th.sorttable_sorted::after {
            background: url("https://cdn1.iconfinder.com/data/icons/modifiers-add-on-2-glyph/48/Sed-02-512.png");
            background-size: contain;
        }

        th.sorttable_sorted_reverse::after {
            background: url(https://cdn1.iconfinder.com/data/icons/modifiers-add-on-2-glyph/48/Sed-02-512.png);
            background-size: cover;
        }

        #sorttable_sortfwdind, #sorttable_sortrevind {
            display: none;
        }
    </style>

</head>

<body>

    <h2 style="color:#ffb58f">Fitnes centri</h2>

    <div>
        <p>
            <a href="/FitnessCenter/GoToSearchFCsPg">Pretraga</a>
        </p>

        <div>
            <table class="sortable" id="myTable" @*style="font-size:24px"*@>
                <tbody>
                  


                    <tr>
                        <th onclick="sortTable(0)">Naziv</th>
                        <th>Adresa</th>
                        <th>Godina otvaranja</th>
                        <th> - </th>
                    </tr>


                    @{ foreach (FitnessCenter f in ViewBag.checkFC.Values)
                        {
                            if (f.IsDeleted == true) { continue; }
                            if (f.IsDeleted == false)
                            {
                                if (user == null || user.Role == MyWebApp2.Models.Enums.Role.Posetilac)
                                {
                                    <tr>

                                        <td>@f.Name</td>
                                        <td>@f.Address</td>
                                        <td>@f.YearOfOpening</td>
                                        <td>
                                            <form action="/FitnessCenter/GetAllFCs" method="post">

                                                <input type="hidden" name="fcId" value="@f.ID">

                                                <input type="submit" value="Informacije">
                                            </form>
                                        </td>
                                    </tr>

                                }
                                else if (user != null && user.Role == MyWebApp2.Models.Enums.Role.Trener && user.CoachFitnessCenterID == f.ID)
                                {
                                    <tr>
                                        <td>@f.Name</td>
                                        <td>@f.Address></td>
                                        <td>@f.YearOfOpening</td>
                                        <td>
                                            <form action="/FitnessCenter/GetAllFCs" method="post">

                                                <input type="hidden" name="fcId" value="@f.ID">

                                                <input type="submit" value="Informacije">
                                            </form>
                                        </td>
                                    </tr>
                                }
                                else if (user != null && user.Role == MyWebApp2.Models.Enums.Role.Vlasnik && f.OwnerUserID == user.ID)
                                {

                                    <tr>


                                        <td>@f.Name</td>
                                        <td>@f.Address</td>
                                        <td>@f.YearOfOpening </td>
                                        <td></td>

                                        <div>
                                            <td>
                                                <div>
                                                    <form action="/User/UserListFC" method="post">

                                                        <input type="hidden" name="fcId" value="@f.ID">

                                                        <input type="submit" value="Registruj">
                                                    </form>

                                                    <form action="/FitnessCenter/GoToUpdateFC" method="post">

                                                        <input type="hidden" name="fcId" value="@f.ID">

                                                        <input type="submit" value="Modifikuj">
                                                    </form>
                                                </div>
                                            </td>

                                            @*</td>*@
                                        </div>



                                    </tr>
                                }
                            }
                        }
                    }


                      @{
                        if (user2 != null && user2.Role == MyWebApp2.Models.Enums.Role.Vlasnik)
                        {
                            <form action="/FitnessCenter/GoToAddFC">

                                <input type="submit" value="Dodaj">

                            </form>
                        }
                    }
                </tbody>

            </table>

        </div>
    </div>
  


</body>
</html>