﻿@using MyWebApp2.Models
@{
    ViewBag.Title = "UpdateFC";
    MyWebApp2.Models.FitnessCenter fitnessCenter = (MyWebApp2.Models.FitnessCenter)Session["fitnessCenters"];
    List<MyWebApp2.Models.GroupTraining> groupTrainings = (List<MyWebApp2.Models.GroupTraining>)Session["groupTrainings"];
    FitnessCenter fitnessCenter2 = ViewBag.fitness;

}


<script>
    function validacija() {
        var name = document.getElementById["name"].value;
        var address = document.getElementById["address"].value;
        var yearOfOpening = document.getElementById["yearOfOpening"].value;
        var ownerUserID = document.getElementById["ownerUserID"].value;
        var monthlyPrice = document.getElementById["monthlyPrice"].value;
        var yearlyPrice = document.getElementById["yearlyPrice"].value;
        var trainingPrice = document.getElementById["trainingPrice"].value;
        var groupPrice = document.getElementById["groupPrice"].value;
        var personalTrainingPrice = document.getElementById["personalTrainingPrice"].value;


        if (name == null || name == "" || address == null || address == "" || yearOfOpening == null || yearOfOpening == "" || ownerUserID == null || ownerUserID == "" || monthlyPrice == null || monthlyPrice == "" || yearlyPrice == null || yearlyPrice == "" || trainingPrice == null || trainingPrice == "" || groupPrice == null || groupPrice == "" || personalTrainingPrice == null || personalTrainingPrice == "") {
            alert("Popuni sva polja.");
            return false;
        }
    }
</script>

<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>Detalji</title>

    <style>
        body {
            align-items: center;
            display: flex;
            justify-content: center;
            background-color: #b3b3b3;
        }

        p {
            color: #660000;
            margin-bottom: 5px;
        }

        table, th, td {
            border: 2px solid black;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th {
            height: 20px;
            text-align: left;
            background-color: #660000;
            color: #ffb58f;
        }

        th, td {
            padding: 15px;
            text-align: left;
        }

        tr:hover {
            background-color: #660000;
        }


        a, input, .search-container button {
            display: block;
            text-align: left;
            float: none;
            padding: 14px;
            margin: 0;
            margin-top: 8px;
        }

            input:focus {
                outline: none;
                border: 1px solid #002364;
            }

            input[type="submit"] {
                width: 100%;
                padding: 16px;
                border-radius: 20px;
                margin-top: 25px;
                color: lightcyan;
                background-color: #660000;
            }

            input[type="text"] {
                border: 1px solid #ffb58f;
            }

            input[type="date"] {
                border: 1px solid #ffb58f;
            }

            input[type="number"] {
                border: 1px solid #ffb58f;
            }

            input[type="email"] {
                border: 1px solid #ffb58f;
            }

            input[type="password"] {
                border: 1px solid #ffb58f;
            }

        form {
            margin-top: 60px;
        }

        table.sortable th::after, th.sorttable_sorted::after, th.sorttable_sorted_reverse::after {
            content: " ";
            display: inline-block;
            width: 24px;
            height: 24px;
        }

        th.sorttable_sorted::after {
            background: url("https://cdn1.iconfinder.com/data/icons/modifiers-add-on-2-glyph/48/Sed-02-512.png");
            background-size: contain;
        }

        th.sorttable_sorted_reverse::after {
            background: url(https://cdn1.iconfinder.com/data/icons/modifiers-add-on-2-glyph/48/Sed-02-512.png);
            background-size: cover;
        }

        #sorttable_sortfwdind, #sorttable_sortrevind {
            display: none;
        }
    </style>

</head>

<body>
    <div>
    <div align="center">
        <form action="/FitnessCenter/DeleteFC">

            <input type="hidden" name="fcId" value="@fitnessCenter2.ID">
           
        <input type="submit" value="Obrisi">  </form></div>

        <form action="/FitnessCenter/SaveFC">



            <table class="sortable" id="myTable">
@{
                <tr>


                    <div align="center">
                        <label>Naziv</label>
                        <div>
                            <input type="text" name="name" value="@fitnessCenter2.Name">
                        </div>
                    </div>
                    <div align="center">
                        <label>Adresa</label>
                        <div>
                            <input type="text" name="address" value="@fitnessCenter2.Address">
                        </div>
                    </div>
                    <div align="center">
                        <label>Godina otvaranja</label>
                        <div>
                            <input type="number" name="yearOfOpening" value="@fitnessCenter2.YearOfOpening">
                        </div>
                    </div>
                    <div align="center">
                        <label>Cena mesecno</label>
                        <div>
                            <input type="number" name="monthlyPrice" value="@fitnessCenter2.MonthlyPrice">
                        </div>
                    </div>
                    <div align="center">
                        <label>Cena godisnje</label>
                        <div>
                            <input type="number" name="yearlyPrice" value="@fitnessCenter2.YearlyPrice">
                        </div>
                    </div>
                    <div align="center">
                        <label>Cena treninga</label>
                        <div>
                            <input type="number" name="trainingPrice" value="@fitnessCenter2.TrainingPrice">
                        </div>
                    </div>
                    <div align="center">
                        <label>Cena grupnog</label>
                        <div>
                            <input type="number" name="groupPrice" value="@fitnessCenter2.GroupPrice">
                        </div>
                    </div>
                    <div align="center">
                        <label>Cena personalnog</label>
                        <div>
                            <input type="number" name="personalTrainingPrice" value="@fitnessCenter2.PersonalTrainingPrice">
                        </div>
                    </div>
                    <br>
                    <div align="center">
                        <div>
                            <input type="hidden" name="fcId" value="@fitnessCenter2.ID">

                            <button onclick="return validacija()">Izmeni</button>
                        </div>
                    </div>
                </tr>   }

             

                

            </table>
        </form>


    </div>

</body>
</html>
