﻿<!DOCTYPE html>
@using MyWebApp2.Models;
@{ MyWebApp2.Models.User user = (MyWebApp2.Models.User)Session["user"]; }

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FITNES CENTRI</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>


<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Pocetna", "GetFC", "FitnessCenter", new { area = "" }, new { @class = "navbar-brand" })

            </div>
            <div class="navbar-collapse collapse">
                @*<ul class="nav navbar-nav">
                    <li>
                        <a href="/FitnessCenter/GetAllFCs">Fitnes Centri</a>
                    </li>

                </ul>*@
                <ul class="nav navbar-nav navbar-right">
                    @if (user == null)
                    {
                        <li>
                            <a href="/User/GoToRegPg">Registracija</a>
                        </li>
                        <li>
                            <a href="/User/GoToLogInPg">Prijava</a>
                        </li>
                    }
                    else
                    {
                        if (user.Role == MyWebApp2.Models.Enums.Role.Posetilac)
                        {
                            @*<li>
                                    <a href="/FitnessCenter/GetAllFCs">Fitnes Centri</a>
                                </li>*@
                            <li>
                                <a href="/GroupTraining/GTDetails">Trening</a>
                            </li>
                        }
                        else if (user.Role == MyWebApp2.Models.Enums.Role.Trener)
                        {
                            @*<li>
                                    <a href="/FitnessCenter/GetAllFCs">Fitnes Centri</a>
                                </li>*@
                            <li>
                                <a href="/GroupTraining/GTDetails">Grupni trening</a>
                            </li>

                        }
                        else if (user.Role == MyWebApp2.Models.Enums.Role.Vlasnik)
                        {
                            @*<li>
                                <a href="/FitnessCenter/GetAllFCs">Fitnes Centri</a>
                            </li>*@
                            <li>
                                <a href="/Comment/GoToCommPg">Komentari</a>
                            </li>
                        }

                        <li>
                            <a href="/User/GoToUpdateProfilePg">Izmena profila</a>
                        </li>
                        <li>
                            <a href="/User/LogOut">Odjava</a>
                        </li>
                    }
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()


    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
