﻿
@{
    ViewBag.Title = "LogIn";
}


<script>

    function validacija() {
        var username = document.forms["logIn"]["username"].value;
        var password = document.forms["logIn"]["password"].value;

        if(username == null || username == "" || password == null || password == "") {
            alert("Popuni sva polja."); return false;
        }
    }

</script>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>Prijava</title>

    <style>

        body {
            align-items: center;
            display: flex;
            justify-content: center;
            background-color: #b3b3b3;
        }

        p {
            color: #660000;
            margin-bottom: 5px;
        }

        .content {
            background-color: paleturquoise;
            border-radius: 20px;
            padding: 25px;
            margin-top: 25px;
        }

        input {
            width: 100%;
            padding: 4px 10px;
            border: 1px solid darkgray;
            border-radius: 10px;
        }

            input:focus {
                outline: none;
                border: 1px solid #002364;
            }

            input[type="submit"] {
                width: 100%;
                padding: 16px;
                border-radius: 20px;
                margin-top: 25px;
                color: lightcyan;
                background-color: #660000;
            }

            input[type="text"] {
                border: 1px solid #ffb58f;
            }

            input[type="date"] {
                border: 1px solid #ffb58f;
            }

            input[type="number"] {
                border: 1px solid #ffb58f;
            }

            input[type="password"] {
                border: 1px solid #ffb58f;
            }
    </style>

</head>



<body>
    <form action="/User/LogIn" name="logIn" method="post">
        <br>
        <div align="center">
            <label>Korisnicko ime</label>
            <div>
                <input type="text" name="username">
            </div>
        </div>

        <div align="center">
            <label>Lozinka</label>
            <div>
                <input type="password" name="password">
            </div>
        </div>

        <br>
        <div align="center">
            <div>
                <button onclick="return validacija()"> Prijava </button>
            </div>
        </div>
        <br>
        <div align="center">
            <div>
                <i>Niste registrovani? </i><a href="/User/GoToRegPg"> Registracija </a>
            </div>
        </div>


    </form>
</body>

</html>

