﻿
@{
    ViewBag.Title = "Register";
}


<script>
    function validacija() {
        var username = document.forms["register"]["username"].value;
        var password = document.forms["register"]["password"].value;
        var name = document.forms["register"]["name"].value;
        var lastname = document.forms["register"]["lastname"].value;
        var gender = document.forms["register"]["gender"].value;
        var email = document.forms["register"]["email"].value;
        var dateOfBirth = document.forms["register"]["dateOfBirth"].value;

        if(username == null || username == "" || password == null || password == "" || name == null || name == "" || lastname == null || lastname == "" || gender == null || gender == "" || email == null || email == "" || dateOfBirth == null || dateOfBirth == "") {
            alert("Popuni sva polja."); return false;
        }
    }
</script>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>Registracija</title>
    <style>

        body {
            align-items: center;
            display: flex;
            justify-content: center;
            background-color: #b3b3b3;
        }

        p {
            color: #660000;
            margin-bottom: 5px;
        }

        .content {
            background-color: paleturquoise;
            border-radius: 20px;
            padding: 25px;
            margin-top: 25px;
        }


        input {
            width: 100%;
            padding: 4px 10px;
            border: 1px solid darkgray;
            border-radius: 10px;
        }

            input:focus {
                outline: none;
                border: 1px solid #002364;
            }

            input[type="submit"] {
                width: 100%;
                padding: 16px;
                border-radius: 20px;
                margin-top: 25px;
                color: lightcyan;
                background-color: #660000;
            }

            input[type="text"] {
                border: 1px solid #ffb58f;
            }

            input[type="date"] {
                border: 1px solid #ffb58f;
            }

            input[type="number"] {
                border: 1px solid #ffb58f;
            }

            input[type="email"] {
                border: 1px solid #ffb58f;
            }

            input[type="password"] {
                border: 1px solid #ffb58f;
            }
    </style>

</head>

<body>
        <form action="/User/Register" name="register" method="post">
            
                   
                    <div align="center">
                        <br>
                        <label>Korisnicko ime</label>
                        <div>
                            <input type="text" name="username" >
                        </div>
                    </div>

                    <div align="center">
                        <label>Lozinka</label>
                        <div>
                            <input type="password" name="password" >
                        </div>
                    </div>

                    <div align="center">
                        <label>Ime</label>
                        <div>
                            <input type="text" name="name" >
                        </div>
                    </div>

                    <div align="center">
                        <label>Prezime</label>
                        <div>
                            <input type="text" name="lastname" >
                        </div>
                    </div>

                    <div align="center">
                        <label>Pol</label>
                        <div>
                            <select name="gender" id="gender" >
                                @foreach (var type in Enum.GetValues(typeof(MyWebApp2.Models.Enums.Gender)))
                                {
                                    <option value="@type">@type</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div align="center">
                        <label>Email</label>
                        <div>
                            <input type="email" name="email" >
                        </div>
                    </div>

                    <div align="center">
                        <label>Datum rodjenja</label>
                        <div>
                            <input type="date" name="dateOfBirth" >
                        </div>
                    </div>
                    <br>
                    <div align="center">
                        <div>
                            <button onclick="return validacija()">Registruj</button>
                        </div>
                    </div>

        </form>
    <br>
    <div align="center"><i>Vec ste registrovani? </i><a href="/User/GoToLogInPg"> Prijava</a></div>

</body>

</html>