﻿@using MyWebApp2.Models
@{
    ViewBag.Title = "UpdateProfile";
    MyWebApp2.Models.User user = (MyWebApp2.Models.User)Session["user"];
    DateTime date = user.DateOfBirth;
}


<script>

    function validacija() {
        var username = document.forms["updateProfile"]["username"].value;
        var password = document.forms["updateProfile"]["password"].value;
        var name = document.forms["updateProfile"]["name"].value;
        var lastname = document.forms["updateProfile"]["lastname"].value;
        var gender = document.forms["updateProfile"]["gender"].value;
        var email = document.forms["updateProfile"]["email"].value;
        var dateOfBirth = document.forms["updateProfile"]["dateOfBirth"].value;

        if (username == null || username == "" || password == null || password == "" || name == null || name == "" || lastname == null || lastname == "" || gender == null || gender == "" || email == null || email == "" || dateOfBirth == null || dateOfBirth == "") {
              alert("Popuni sva polja."); return false;
        }
    }

</script>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>Izmena podataka</title>

    <style>
        body {
            align-items: center;
            display: flex;
            justify-content: center;
            background-color: #b3b3b3;
        }

        p {
            color: #660000;
            margin-bottom: 5px;
        }

        .bottom {
            margin-top: 20px;
        }

        .content {
            background-color: paleturquoise;
            border-radius: 20px;
            padding: 25px;
            margin-top: 25px;
        }

        form {
            margin-top: 60px;
        }

        input {
            width: 100%;
            padding: 4px 10px;
            border: 1px solid darkgray;
            border-radius: 10px;
        }

            input:focus {
                outline: none;
                border: 1px solid #002364;
            }

            input[type="submit"] {
                width: 100%;
                padding: 16px;
                border-radius: 20px;
                margin-top: 25px;
                color: lightcyan;
                background-color: #660000;
            }

            input[type="text"] {
                border: 1px solid #ffb58f;
            }

            input[type="date"] {
                border: 1px solid #ffb58f;
            }

            input[type="number"] {
                border: 1px solid #ffb58f;
            }

            input[type="email"] {
                border: 1px solid #ffb58f;
            }

            input[type="password"] {
                border: 1px solid #ffb58f;
            }
    </style>

</head>

<body>
    <form action="/User/UpdateProfile" name="updateProfile">


        @*<input type="hidden" id="username" name="username" value="@user.Username">*@

        <div align="center">
            <label>Korisnicko ime</label>
            <div>
                <input type="text" name="username" value="@user.Username">
            </div>
        </div>

        <div align="center">
            <label>Lozinka</label>
            <div>
                <input type="password" name="password" value="@user.Password">
            </div>
        </div>

        <div align="center">
            <label>Ime</label>
            <div>
                <input type="text" name="name" value="@user.Name">
            </div>
        </div>


        <div align="center">
            <label>Prezime</label>
            <div>
                <input type="text" name="lastname" value="@user.Lastname">
            </div>
        </div>

        <div align="center">
            <label>Pol</label>
            <div>
                <select name="gender" id="gender">
                    @foreach(var type in Enum.GetValues(typeof(MyWebApp2.Models.Enums.Gender)))
                    {
                        if(user.Gender == (MyWebApp2.Models.Enums.Gender)type)
                        { <option selected value="@type">@type</option> }
                        else {
                            <option value="@type">@type</option> }
                    }
                </select>
            </div>
        </div>

        <div align="center">
            <label>Email</label>
            <div>
                <input type="email" name="email" value="@user.Email">
            </div>
        </div>

        <div align="center">
                <label>Datum rodjenja</label>
                <div>
                    <input type="date" name="dateOfBirth" value="@user.DateOfBirth.ToString("yyyy-MM-dd")">
                </div>
            </div>
        <br>
        <div align="center">
            <div>
                <button type="submit" onclick="return validacija()">Izmeni</button>
            </div>
        </div>


    </form>
</body>
</html>
