﻿@using MyWebApp2.Models

@{
    ViewBag.Title = "UserListGT";
    // MyWebApp2.Models.GroupTraining groupTraining = (MyWebApp2.Models.GroupTraining)Session["groupTrainings"];
    //  MyWebApp2.Models.User user = (MyWebApp2.Models.User)Session["user"];
    //  List<GroupTraining> gtLists = ViewBag.gtList;
    List<User> users = ViewBag.users;

}


<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>Detalji</title>

    <style>
        body {
            align-items: center;
            display: flex;
            justify-content: center;
            background-color: #b3b3b3;
        }

        p {
            color: #660000;
            margin-bottom: 5px;
        }

        table, th, td {
            border: 2px solid black;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th {
            height: 20px;
            text-align: left;
            background-color: #660000;
            color: #ffb58f;
        }

        th, td {
            padding: 15px;
            text-align: left;
        }

        tr:hover {
            background-color: #660000;
        }


        a, input[type=text], .search-container button {
            display: block;
            text-align: left;
            float: none;
            padding: 14px;
            margin: 0;
            margin-top: 8px;
        }

        form {
            margin-top: 60px;
        }

        table.sortable th::after, th.sorttable_sorted::after, th.sorttable_sorted_reverse::after {
            content: " ";
            display: inline-block;
            width: 24px;
            height: 24px;
        }

        th.sorttable_sorted::after {
            background: url("https://cdn1.iconfinder.com/data/icons/modifiers-add-on-2-glyph/48/Sed-02-512.png");
            background-size: contain;
        }

        th.sorttable_sorted_reverse::after {
            background: url(https://cdn1.iconfinder.com/data/icons/modifiers-add-on-2-glyph/48/Sed-02-512.png);
            background-size: cover;
        }

        #sorttable_sortfwdind, #sorttable_sortrevind {
            display: none;
        }
    </style>

</head>

<body>

    @{ 
    <br><br><p>Detalji</p>

    <div>
        <table class="sortable" id="myTable">
            <tbody>
                <tr>
                    
                        <th>Korisnicko ime</th>
                        <th>Ime</th>
                        <th>Prezime</th>
                        <th>Pol</th>
                        <th>Email</th>
                        <th>Datum rodjenja </th>
                      

                </tr>

                @{ 

                foreach(var user in users){

                <tr>
                    <td> @user.Username</td>
                    <td> @user.Name</td>
                    <td> @user.Lastname</td>
                    <td> @user.Gender.ToString() </td>
                    <td>@user.Email</td>
                    <td>@user.DateOfBirth.ToString() </td>
                   
                </tr>
                } }
            </tbody> </table> </div>
            }
</body></html>