﻿@using MyWebApp2.Models

@{
    ViewBag.Title = "AddGT";
}


<script>
    function validacija() {
        var name = document.getElementById["name"].value;
        var trainingType = document.getElementById["trainingType"].value;
        var fitnessCenterID = document.getElementById["fitnessCenterID"].value;
        var trainingDuration = document.getElementById["trainingDuration"].value;
        var trainingDateTime = document.getElementById["trainingDateTime"].value;
        var maxNumberOfVisitors = document.getElementById["ownerUserID"].value;


        if(name == null || name == "" || trainingType == null || trainingType == "" || fitnessCenterID == null || fitnessCenterID == "" || trainingDuration == null || trainingDuration == "" || trainingDateTime == null || trainingDateTime == "" || maxNumberOfVisitors == null || maxNumberOfVisitors == "") {
            alert("Popuni sva polja.");
            return false;
        }
        if (maxNumberOfVisitors <= 0) {
            alert("Mora biti vise od 0 posetiolaca");
            return false;
        }
    }
</script>

<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <style>

        body {
            align-items: center;
            display: flex;
            justify-content: center;
            background-color: #b3b3b3;
        }

        p {
            color: #660000;
            margin-bottom: 5px;
        }

        .content {
            background-color: paleturquoise;
            border-radius: 20px;
            padding: 25px;
            margin-top: 25px;
        }

        form {
            margin-top: 60px;
        }

        table, th, td {
            border: 2px solid black;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th {
            height: 20px;
            text-align: left;
            background-color: #660000;
            color: #ffb58f;
        }

        th, td {
            padding: 15px;
            text-align: left;
        }

        tr:hover {
            background-color: #660000;
        }

        a, .search-container button {
            display: block;
            text-align: left;
            float: none;
            padding: 14px;
            margin: 0;
            margin-top: 8px;
        }

        input {
            width: 100%;
            padding: 4px 10px;
            border: 1px solid darkgray;
            border-radius: 10px;
        }

            input:focus {
                outline: none;
                border: 1px solid #002364;
            }

            input[type="submit"] {
                width: 100%;
                padding: 16px;
                border-radius: 20px;
                margin-top: 25px;
                color: lightcyan;
                background-color: #660000;
            }

            input[type="text"] {
                border: 1px solid #ffb58f;
            }

            input[type="date"] {
                border: 1px solid #ffb58f;
            }

            input[type="number"] {
                border: 1px solid #ffb58f;
            }

            input[type="email"] {
                border: 1px solid #ffb58f;
            }

            input[type="password"] {
                border: 1px solid #ffb58f;
            }

        table.sortable th::after, th.sorttable_sorted::after, th.sorttable_sorted_reverse::after {
            content: " ";
            display: inline-block;
            width: 24px;
            height: 24px;
        }

        th.sorttable_sorted::after {
            background: url("https://cdn1.iconfinder.com/data/icons/modifiers-add-on-2-glyph/48/Sed-02-512.png");
            background-size: contain;
        }

        th.sorttable_sorted_reverse::after {
            background: url(https://cdn1.iconfinder.com/data/icons/modifiers-add-on-2-glyph/48/Sed-02-512.png);
            background-size: cover;
        }

        #sorttable_sortfwdind, #sorttable_sortrevind {
            display: none;
        }
    </style>

</head>


    <body>
        <div>


            <form action="/GroupTraining/AddGT">



                <table class="sortable" id="myTable">

                

                    @{
                    <tr>

                        <div align="center">
                            <label>Ime</label>
                            <div>
                                <input type="text" name="name">
                            </div>
                        </div>

                        <div align="center">
                            <label>Tip</label>
                            <div>
                                <select name="trainingType" id="trainingType">
                                    @foreach (var type in Enum.GetValues(typeof(MyWebApp2.Models.Enums.TrainingType)))
                                    {
                                        <option value="@type">@type</option>}
                                </select>
                            </div>
                        </div>

                        @*<td> <input type="text" name="fitnessCenterID" id="fitnessCenterID" value="@gt.FitnessCenterID"> </td>*@

                        <div align="center">
                            <label>Trajanje</label>
                            <div>
                                <input type="text" name="trainingDuration">
                            </div>
                        </div>


                        <div align="center">
                            <label>Datum</label>
                            <div>
                                <input type="datetime" name="trainingDateTime" min="@ViewBag.Dt">
                            </div>
                        </div>

                        <div align="center">
                            <label>Maks broj</label>
                            <div>
                                <input type="number" name="maxNumberOfVisitors">
                            </div>
                        </div>

                        <br>
                        <div align="center">
                            <div>
                                <button onclick="return validacija()">Dodaj</button>
                            </div>
                        </div>

           

                    </tr>
                    }
                </table>

            </form>


        </div>
    </body>
</html>

