﻿@using MyWebApp2.Models

@{
    ViewBag.Title = "GTDetails";
    MyWebApp2.Models.GroupTraining groupTraining = (MyWebApp2.Models.GroupTraining)Session["groupTrainings"];
    MyWebApp2.Models.User user = (MyWebApp2.Models.User)Session["user"];
    List<GroupTraining> gtLists = ViewBag.gtList;
    List<GroupTraining> gtLists2 = ViewBag.gtList;

}


<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>Detalji</title>

    <style>
        body {
            align-items: center;
            display: flex;
            justify-content: center;
            background-color: #b3b3b3;
        }

        p {
            color: #660000;
            margin-bottom: 5px;
        }

        table, th, td {
            border: 2px solid black;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th {
            height: 20px;
            text-align: left;
            background-color: #660000;
            color: #ffb58f;
        }

        th, td {
            padding: 15px;
            text-align: left;
        }

        tr:hover {
            background-color: #660000;
        }


        a, input[type=text], .search-container button {
            display: block;
            text-align: left;
            float: none;
            padding: 14px;
            margin: 0;
            margin-top: 8px;
        }

        form {
            margin-top: 60px;
        }

        table.sortable th::after, th.sorttable_sorted::after, th.sorttable_sorted_reverse::after {
            content: " ";
            display: inline-block;
            width: 24px;
            height: 24px;
        }

        th.sorttable_sorted::after {
            background: url("https://cdn1.iconfinder.com/data/icons/modifiers-add-on-2-glyph/48/Sed-02-512.png");
            background-size: contain;
        }

        th.sorttable_sorted_reverse::after {
            background: url(https://cdn1.iconfinder.com/data/icons/modifiers-add-on-2-glyph/48/Sed-02-512.png);
            background-size: cover;
        }

        #sorttable_sortfwdind, #sorttable_sortrevind {
            display: none;
        }
    </style>

</head>

<body>

       <h2 style="color:#ffb58f">Grupni treninzi</h2>

    <div>
     <p>
            <a href="/GroupTraining/GoToSearchGTsPg">Pretraga</a>
        </p>
    @{
        if(user.Role == MyWebApp2.Models.Enums.Role.Trener) {

            <br><br><p>Prethodni grupni treninzi</p>
            <br>
            <div>
                <table class="sortable" id="myTable">
                    <tbody>
                        <tr>
                            <th>Naziv</th>
                            <th>Tip treniga</th>
                            <th>Datum</th>
                            <th></th>

                        </tr>
                        @{
                            foreach (GroupTraining gt in gtLists)
                            {
                                if (gt.IsDeleted == false && DateTime.Compare(gt.TrainingDateTime, DateTime.Now) < 0)
                                {


                                    <tr>
                                        <td> @gt.Name</td>
                                        <td> @gt.TrainingType.ToString()</td>
                                        <td> @gt.TrainingDateTime</td>


                                        <td>
                                            <form action="/User/UserListGT">

                                                <input type="hidden" name="gtId" value="@gt.ID">

                                                <input type="submit" value="Clanovi">
                                            </form>
                                        </td>

                                    </tr>
                                }

                            }
                        }

                    </tbody>
                </table>
            </div>

            <br>
            <br>
            <p>Predstojeći grupni treninzi</p>
            <br>
            <div>
                <table class="sortable" id="myTable">
                    <tbody>
                        <tr>
                            <th>Naziv</th>
                            <th>Tip treniga</th>
                            <th>Datum</th>
                            <th></th>

                        </tr>
                        @foreach (GroupTraining gt in gtLists)
                        {
                            if (gt.IsDeleted == false && DateTime.Compare(gt.TrainingDateTime, DateTime.Now) > 0)
                            {



                                <tr>
                                    <td> @gt.Name</td>
                                    <td> @gt.TrainingType.ToString()</td>
                                    <td> @gt.TrainingDateTime</td>


                                    <td>
                                        <form action="/User/UserListGT">

                                            <input type="hidden" name="gtId" value="@gt.ID">

                                            <input type="submit" value="Clanovi">
                                        </form>
                                    </td>

                                </tr>}
                        }

                    </tbody>
                </table>

                <div>
                    <form action="/GroupTraining/GoToAddGT">

                        <input type="submit" value="Dodaj">

                    </form>
                </div>
            </div>




        }
        if(user.Role != MyWebApp2.Models.Enums.Role.Trener) {
           
            
            <br><br><p>Prethodni grupni treninzi</p>
            <br>
            <div>
                <table class="sortable" id="myTable">
                    <tbody>
                        @{



                            foreach(GroupTraining grtr in gtLists2) {
                                if(grtr.IsDeleted == false && DateTime.Compare(grtr.TrainingDateTime, DateTime.Now) < 0) {

                                <tr>
                                    <th>Naziv</th>
                                    <th>Tip treniga</th>
                                    <th>Datum</th>
                                    <th></th>

                                </tr>

                                <tr>
                                    <td> @grtr.Name</td>
                                    <td> @grtr.TrainingType.ToString()</td>
                                    <td> @grtr.TrainingDateTime</td>


                    
                                </tr>
                                }


                            }
                            } </tbody></table></div> }
                            
                            }

        </body>
</html>
