﻿
@{
    ViewBag.Title = "ErrorPg";
    string error = (string)Session["message"];

}


<style>

    body {
        align-items: center;
        display: flex;
        justify-content: center;
        background-color: #b3b3b3;
    }
</style>
<h2>@error</h2>
<h2>Greska. Povratak na <a href="/FitnessCenter/GetFC">pocetnu stranu</a></h2>

