﻿
@{
    ViewBag.Title = "AddComment";
    MyWebApp2.Models.FitnessCenter fitnessCenter = (MyWebApp2.Models.FitnessCenter)Session["fitnessCenters"];

}



<script>

    function validacija() {

        var text = document.forms["comment"]["textOfComment"].value;
        var grade = document.forms["comment"]["grade"].value;

        if(textOfComment == null || textOfComment == "" || grade == null || grade == "") {
            alert("Popuni sva polja.");
            return false;

        }
    }

</script>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <style>

        body {
            align-items: center;
            display: flex;
            justify-content: center;
            background-color: #b3b3b3;
        }

        p {
            color: #660000;
            margin-bottom: 5px;
        }

        .content {
            background-color: paleturquoise;
            border-radius: 20px;
            padding: 25px;
            margin-top: 25px;
        }


        input {
            width: 100%;
            padding: 4px 10px;
            border: 1px solid darkgray;
            border-radius: 10px;
        }

            input:focus {
                outline: none;
                border: 1px solid #002364;
            }

            input[type="submit"] {
                width: 100%;
                padding: 16px;
                border-radius: 20px;
                margin-top: 25px;
                color: lightcyan;
                background-color: #660000;
            }

            input[type="text"] {
                border: 1px solid #ffb58f;
            }

            input[type="date"] {
                border: 1px solid #ffb58f;
            }

            input[type="number"] {
                border: 1px solid #ffb58f;
            }

            input[type="email"] {
                border: 1px solid #ffb58f;
            }

            input[type="password"] {
                border: 1px solid #ffb58f;
            }
    </style>

</head>

<body>
    <h2>Napisi komentar</h2>

    <form action="/Comment/AddComment" name="comment">
        <div align="center">
            <label> Tekst </label>
            <div>
                <textarea type="text" name="textOfComment"></textarea>
            </div>
        </div>

        <div align="center">
            <label> Ocena </label>
            <div>
                <input type="number" name="grade" min="1" max="5">
            </div>
        </div>

            <div>
                <button type="submit" value="Komentarisi" />
d   
        <input type="hidden" name="fitnessCenterId" value="@ViewBag.CommFCId">
   
    </form>
</body>
</html>