﻿@using MyWebApp2.Models

@{
    ViewBag.Title = "CommentsList";

    //MyWebApp2.Models.FitnessCenter checkFC = (MyWebApp2.Models.FitnessCenter)Session["fitnessCenters"];
    MyWebApp2.Models.User user = (MyWebApp2.Models.User)Session["user"];

    Dictionary<string, MyWebApp2.Models.Comment> comments = Build.LoadComm();
    // List<MyWebApp2.Models.Comment> cs = (List<MyWebApp2.Models.Comment>)Session["comments"];

}

<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>Pocetna</title>

    <style>
        body {
            align-items: center;
            display: flex;
            justify-content: center;
            background-color: #b3b3b3;
        }

        p {
            color: #660000;
            margin-bottom: 5px;
        }

        table, th, td {
            border: 2px solid black;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th {
            height: 20px;
            text-align: left;
            background-color: #660000;
            color: #ffb58f;
        }

        th, td {
            padding: 15px;
            text-align: left;
        }

        tr:hover {
            background-color: #660000;
        }


        a, input[type=text], .search-container button {
            display: block;
            text-align: left;
            float: none;
            padding: 14px;
            margin: 0;
            margin-top: 8px;
        }

        form {
            margin-top: 60px;
        }

        table.sortable th::after, th.sorttable_sorted::after, th.sorttable_sorted_reverse::after {
            content: " ";
            display: inline-block;
            width: 24px;
            height: 24px;
        }

        th.sorttable_sorted::after {
            background: url("https://cdn1.iconfinder.com/data/icons/modifiers-add-on-2-glyph/48/Sed-02-512.png");
            background-size: contain;
        }

        th.sorttable_sorted_reverse::after {
            background: url(https://cdn1.iconfinder.com/data/icons/modifiers-add-on-2-glyph/48/Sed-02-512.png);
            background-size: cover;
        }

        #sorttable_sortfwdind, #sorttable_sortrevind {
            display: none;
        }
    </style>

</head>

<body>

    @{


        <br> <p>Lista komentara</p>



        foreach(var c in comments.Values) {
            foreach(    var fId in user.OwnerFitnessCenterID){
                if(fId == c.FitnessCenterID) {

                    <div>
                        <div>
                            <table class="table table-bordered table-striped sortable" id="myTable">

                                <tbody>
                                    <tr>

                                        <th>Fitnes centar</th>
                                        <th>Posetilac</th>
                                        <th>Text</th>
                                        <th>Ocena</th>
                                        @*<th></th>*@

                                    </tr>
                                    <tr>

                                <td>@c.FitnessCenterID</td>
                                <td> @c.User.Username</td>
                                <td> @c.TextOfComment </td>
                                <td> @c.Grade</td>
                                       

                                        @{
                                            if(c.IsCommentApproved == false) {
                                                 <td>  <div>
                                                    <form action="/Comment/Deny">

                                                        <input type="hidden" name="commentID" value="@c.ID">

                                                        <input type="submit" value="Odbij" />
                                                    </form>

                                                    <form action="/Comment/Approved">

                                                        <input type="hidden" name="commentID" value="@c.ID">

                                                        <input type="submit" value="Prihvati" />
                                                    </form> </div>  </td>
                                            }
                                            if(c.IsCommentApproved == true) { <td> Odobreno </td> }
                                            else {<td>Odbijeno</td>} 
                                         }
                                
                                
                                     
                                           
</tr>
         
                                    </tbody>

                                </table>
                            </div>
                        </div>
                                                        }
                                                    }
                                                }
                                            }
        </body>
    </html>

